* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, '宋体';
	font-size: 12px;
}

html {
	min-width: 966px;
	background: #f9f9f9;
	overflow: scroll;
	overflow-x: hidden;
}

/* ----------------------------------- wrapper -----------------------------------*/

div#wrapper
{
	border: 5px solid;
	width:auto;
	height:auto;
}

/* ----------------------------------- navfirst -----------------------------------*/
div#navfirst 
{
	height: 55px;
	padding: 0;
	border: 1px solid;
	width: auto;
}

/* ----------------------------------- navsecond -----------------------------------*/
div#navsecond 
{
	float: left;
	padding: 0;
	border: 1px solid;
	height: 600px;
	width: auto;
}

/* ----------------------------------- maincontent-----------------------------------*/
div#maincontent 
{
	float: left;
	margin: 0;
	border: 1px solid;
	height: 600px;
	width: auto;
}

/* ----------------------------------- footer-----------------------------------*/
div#footer 
{
	clear: both;
	margin: 0;
	padding: 0;
	width: auto;
	height: 46px;
	background: #b6b6b6;
}

/* ----------------------------------- Typography ----------------------------------- */


div#maincontent	div#header {
	width: auto;
	margin: 0 0 0 15px;
	padding: 20px 0 20px 0;
	border: 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

/* ----------------------------------- 导航折叠菜单----------------------------------- */
.navlist 
{
	width: 180px;
	height: auto;
}

.navlist>ul {
	list-style: none;
}

.navlist .menu-one>li {
	width: 180px;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #888;
}

.navlist .menu-one>li.firstChild {
	border: 0;
}

.navlist .menu-one .header {
	height: 35px;
	background: #666;
	line-height: 34px;
	text-indent: 15px;
	cursor: pointer;
}

.navlist .menu-one .header:hover,.navlist .menu-one .menuOne-current {
	background: #777;
}

.navlist .menu-one .header>span {
	display: block;
}

.navlist .menu-one .header .txt {
	float: left;
	color: #fff;
}

.navlist .menu-one .header .arrow {
	float: right;
	width: 35px;
	height: 35px;
	background: url(image/arrow-d.png) no-repeat center center;
}

.navlist .menu-two {
	display: none;
	width: 180px;
	height: auto;
}

.navlist .menu-two li {
	width: 180px;
	height: 35px;
	background: #eee;
	border-top: 1px solid #ccc;
	line-height: 34px;
	text-indent: 40px;
}

.navlist .menu-two li.firstChild {
	border: 0;
}

.navlist .menu-two li a {
	display: block;
	color: #888;
}

.navlist .menu-two li:hover,.navlist .menu-two li.menuTwo-current {
	background: #fff;
}

.navlist .menu-show .header {
	background: #777;
}

.navlist .menu-show .header .arrow {
	background-image: url(image/arrow-u.png);
}

/* ----------------------------------- 表格滚动----------------------------------- */
#table_head
{
	width: 900px;	
	padding: 0;
	margin: 0;
}

#table_result
{
	width: 910px;
	height: 400px;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
}

#table_result table,#table_head table
{
	table-layout: fixed;
}

/* ----------------------------------- 导航列表----------------------------------- */
ul.ul_nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div#header li {
	float: right;
}

div#search_information li,#form_information  li,div#material_information li{
	float: left;
}